.numbers {
    display: flex;
    justify-content: space-around;
  }
  
  .number {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .number .counter {
    font-weight: bold;
    font-style: italic;
    font-size: 1.9em;
    margin: 6px 0;
  }
  .number span {
    font-size: 1.2em;
    display: block;
  }