.navbar a.active{
    /* font-weight: 600; */
    /* background: aqua; */
    text-decoration: underline;
    color: blue;
    font-family: cursive;
    /* transform: rotate(10deg); */
}
.logo-title{
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}